header {
  margin: 1rem;
  text-align: center;
}
.found-clans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  .clan {
    width: 100%;
    max-width: 480px;
    margin: 1rem;
  }
}
.clan-groups {
  h2 {
    text-align: center;
  }
  hr {
    width: 98%;
  }
  margin-bottom: 4rem;
}
