<div class="activity">
  <ng-container *ngIf="vm$ | async as vm">
      <!-- [header]="vm?.activity?.displayProperties?.name" -->
    <lib-table-view
      class="activity-table"
      [isLoading]="isLoading"
      [dataSource]="activityInfo$ | async"
      [viewer]="activityViewer"
      [filterer]="activityFilterer"
      [sorter]="activitySorter"
    >
      <!-- <div pre-header>
        <button mat-icon-button aria-label="Back to Activities" routerLink="/activities">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div> -->
    </lib-table-view>
  </ng-container>

  <!--  -->
</div>
