@import './theme/material.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
html {
  box-sizing: border-box;
}
a {
  color: var(--app-text-color);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@import './theme/components/components.scss';
@import './theme/utilities.scss';

.mat-drawer::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.mat-drawer-inner-container,
.slim-scroll {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
  }
}

.mat-drawer-inner-container a:not(.mat-mdc-button-base) {
  color: var(--app-primary-color);
}

// Home Screen Styles
.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}


.app-loading .logo {
  height: 200px;
  margin-top: 3rem;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #607d8b;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
