.platforms {
  display: flex;
  align-items: center;

  .platform-icon {
    margin: 0 0.25rem;
  }
}

section {
  margin: 1rem 0;
}
mat-card,
.character-card,
.season-card {
  margin-bottom: 1rem;
}
.skeleton-title {
height:1rem;
  width:100px;
}
.skeleton-list {
  width: 100px;
}
