<button mat-icon-button (click)="sync()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <mat-icon [ngClass]="{'syncing': notifications.length > 0 }">
    sync
  </mat-icon>
</button>
<ng-template cdkConnectedOverlay
(backdropClick)="isOpen = false"
[cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
[cdkConnectedOverlayHasBackdrop]="true"
[cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">

  <mat-card>
    <mat-card-content>
      <div *ngFor="let notification of  notifications" mat-menu-item disabled class="notification">


        <div class="info">
          {{notification.title}} - {{notification.data.complete}} / {{notification.data.total}}
        </div>
        <div class="progress-bar">

          <mat-progress-bar mode="determinate" [value]="notification.data.progress">
          </mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</ng-template>
