.clan-member-card {
  overflow: hidden;
  height: 100%;
  &__card-content {
    overflow-y: auto;
  }
}
.member-info {
  display: flex;
  align-content: space-between;
  width: 100%;

  .member-name {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
.online {
  background: var(--app-online-color);
  border-radius: 50%;
  display: block;
  height: 12px;
  margin-left: 0.5rem;
  width: 12px;
}
