:host {
    flex: 1;
    overflow: auto;
  }
  .activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .activity {
      width: 100%;
      max-width: 400px;
      margin: 2rem;
    }
  }
