:host {
  display: block;
}
.clan-detail {
  width: 100%;
  .mat-mdc-card-title-group {
    display: block;
  }
  .mat-mdc-card-title {
    display: flex;
    align-items: center;

    .title-spacer {
      flex: 1 1 auto;
    }
  }

  &__loading {
    .skeleton-title {
      width: 250px;
      margin-bottom: 0.75rem;
    }
    .skeleton-sub-title {
      width: 250px;
      margin-bottom: 0.75rem;
    }

    .skeleton-list {
      width: 200px;
    }
    .skeleton-button {
      width: 75px;
    }
  }
}
