<div class="activity-breakdown-list">
  <ng-container *ngIf="activityInfo$ | async as activityInfos; else loading">
    <div class="activity-breakdown-list__item" *ngFor="let activityInfo of activityInfos">
      <app-activity-breakdown-item
        [title]="activityInfo.definition.displayProperties.name"
        [iconUrl]="activityInfo.definition.displayProperties.icon"
        [description]="activityInfo.definition.displayProperties.description"
        [label]="activityInfo.total.toString()"
      ></app-activity-breakdown-item>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div *ngFor="let character of ['', '', '', '', '', '']" class="activity-breakdown-list__item">
    <app-activity-breakdown-item [isLoading]="true"></app-activity-breakdown-item>
  </div>
</ng-template>
