.loading-manifest-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mobile-disclaimer {
  background: var(--app-background-color);
  bottom: 0;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;
  display: flex;
  > div {
    flex: 1;
  }

  @media (min-width: 48em) {
    display: none;
  }
}
