<div class="main-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="clan-name">Destiny Clan Dashboard</div>
      <app-notifications [notifications]="notifications$ | async"></app-notifications>
      <div>
        <app-settings-menu></app-settings-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav [libResponsiveSidebar]="960" #sidenav mode="side" opened>
      <mat-nav-list class="clan-nav">
        <div class="section-nav">
          <a mat-list-item routerLink="./" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            Dashboard
          </a>
          <a mat-list-item routerLink="roster" routerLinkActive="active-link">
            <mat-icon matListItemIcon>groups</mat-icon>

            Roster
          </a>
          <a mat-list-item routerLink="seals" routerLinkActive="active-link">
            <mat-icon matListItemIcon>local_police</mat-icon>
            Seals
          </a>
          <mat-divider></mat-divider>
          <div mat-subheader>Activities</div>

          <a mat-list-item routerLink="activity-modes/0" routerLinkActive="active-link">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            Recent Activity
          </a>
          <a mat-list-item routerLink="activity-modes" routerLinkActive="active-link">
            <mat-icon matListItemIcon>trending_up</mat-icon>
            Activity Modes
          </a>
          <a mat-list-item routerLink="activities" routerLinkActive="active-link">
            <mat-icon matListItemIcon>filter_alt</mat-icon>
            Curated Activities
          </a>

          <mat-divider></mat-divider>
          <a mat-list-item routerLink="home" routerLinkActive="active-link">
            <mat-icon matListItemIcon>home</mat-icon>
            Home / Search
          </a>
          <ng-container *ngIf="showSandbox">
            <a mat-list-item routerLink="sandbox" routerLinkActive="active-link">
              <mat-icon matListItemIcon>code</mat-icon>
              Sandbox
            </a>
          </ng-container>

          <!-- Left here so I can remember all the stuff I deleted -->
          <!-- <a mat-list-item routerLink="crucible" routerLinkActive="active-link"> Crucible </a> -->
          <!-- <a mat-list-item routerLink="gambit" routerLinkActive="active-link"> Gambit </a> -->
          <!-- <a mat-list-item routerLink="raids" routerLinkActive="active-link"> Raids </a> -->
          <!-- <a mat-list-item routerLink="dungeons" routerLinkActive="active-link"> Dungeons </a> -->
          <!-- <a mat-list-item (click)="openPlayerSearch()">Player Search</a> -->
          <!-- <a mat-list-item (click)="goHome()">Home</a> -->
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer-spacer"></div>
  <footer [ngClass]="{ open: footerOpen }">
    <div class="footer-display">
      <div class="footer_app-info">
        © {{ year }} - <a href="https://twitter.com/worthyd" target="_blank">&#64;WorthyD</a> - Not Affiliated with Bungie -
        <span> v {{ versionNumber }} </span>
      </div>
      <button class="footer-button footer-button__open" (click)="footerOpen = !footerOpen">
        <mat-icon>keyboard_double_arrow_up</mat-icon>
      </button>
    </div>
    <div class="footer-content">
      <div>
        Source code hosted on <a href="" target="_blank">Github</a>. <a href="" target="_blank">File a bug</a> or
        <a href="" disabled target="_blank">join the Discord (coming soon)</a> for assistance or request a feature.
      </div>
      <div>
        Destiny is a registered trademark of <a href="https://www.bungie.net/" _target="blank">Bungie</a>. Data and
        images are from Bungie.
      </div>
    </div>
  </footer>
</div>
