.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.clan-nav {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  // height: 100%;
  padding-top: 0;

  .section-nav {
    flex: 1;
  }
}
.clan-name {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.25rem;
  @media (min-width: 48em) {
    text-align: left;
  }
}
lib-navbar {
  position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 2;
}

mat-sidenav-container {
  //min-height: calc(100vh - 64px);
  flex: 1;
}

mat-sidenav-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.active-link {
  color: var(--app-primary-color-text) !important;
  background: var(--app-primary-color) !important;

  &:hover,
  &:focus {
    background-color: var(--app-primary-color-darker) !important;
  }
}
