.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.clan-nav {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  // height: 100%;
  padding-top: 0;

  .section-nav {
    flex: 1;
  }
}
.clan-name {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.25rem;
  @media (min-width: 48em) {
    text-align: left;
  }
}
lib-navbar {
  position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 2;
}

mat-sidenav-container {
  //min-height: calc(100vh - 64px);
  flex: 1;
}

mat-sidenav-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.active-link {
  color: var(--app-primary-color-text) !important;
  background: var(--app-primary-color) !important;

  &:hover,
  &:focus {
    background-color: var(--app-primary-color-darker) !important;
  }
}

.footer-spacer {
  height: 30px;
}

footer {
  background: var(--app-primary-color) !important;
  color: var(--app-primary-color-text) !important;
  position: fixed;
  transform: translateY(100%);
  transition: 1s transform, 1s -webkit-transform;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  &.open {
    transform: translateY(0%);
    .footer-button {
      transform: rotate(180deg);
    }
  }
  .footer-display {
    background: var(--app-primary-color) !important;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    top: -30px;
    position: absolute;
    padding: 0.25rem;
    width: 100%;
  }
  .footer_app-info {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
  }
  .footer-button {
    background: var(--app-background-color);
    color: var(--app-primary-color-text) !important;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    height: 22px;
    width: 22px;
    cursor: pointer;
    transform-origin: center;
    transition: 0.25s;
    mat-icon {
      font-size: 18px;
      line-height: 21px;
      height: 20px;
      width: 20px;
    }
  }
  .footer-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
}
