.skeleton-item {
  display: block;
  background-color: var(--app-skeleton-bg);
  height: 1.2em;
  animation: 1.5s ease-in-out 0.5s infinite normal none running skeleton-loader-animation;
}
@keyframes skeleton-loader-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
