<ng-container *ngIf="sealHash$ | async as sealDetails">
  <div class="seal-details">
    <lib-table-view
      class="seal-detail-table"
      [isLoading]="isLoading"
      [dataSource]="(sealDetailsInfo$ | async)?.dataSource"
      [header]="sealDetails.displayProperties.name"
      [viewer]="sealDetailsViewer"
      [filterer]="sealDetailsFilterer"
      [sorter]="sealDetailsSorter"
    >
      <div pre-header>
        <button mat-icon-button aria-label="Back to Seals" routerLink="/seals">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </lib-table-view>

    <ng-template #loading>
      <div class="loading">Loading Seal Details</div>
    </ng-template>
  </div>
</ng-container>
