<div class="activity">
  <ng-container *ngIf="vm$ | async as vm">
    <!-- TODO: Icon -->
    <!-- <ng-container *ngIf="vm.activity as activity">
    <h1>{{activity.displayProperties.name}}</h1>
    <h2>{{activity.displayProperties.description}}</h2>
  </ng-container> -->

    <!-- Metrics -->
    <!-- <lib-collapsible-list title="Metrics" [items]="vm.metrics" [itemTemplate]="itemTemplate">
    <ng-template let-item #itemTemplate>
      <div class="item-row">
        <span>
          {{item.displayProperties.name}}
        </span>
        <button  mat-button >View</button>
      </div>
    </ng-template>
  </lib-collapsible-list> -->
    <app-activity-table [title]="vm.activity.displayProperties.name" [metricDefinitions]="vm.metrics" class="activity-table">

    </app-activity-table>
  </ng-container>
</div>
