:host {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.item-row {
  display: flex;
  span {
    flex: 1;
  }
}
.activity {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .activity-table {
    flex: 1;
    overflow: hidden;
    display:flex;
  }
}
