<ng-container *ngIf="vm$|async as vm">
  <header>
    <h1>{{vm.clans.title}}</h1>
    <p>
      Please reach out to <a href="https://twitter.com/WorthyD" target="_blank">WorthyD</a> for updates
    </p>
  </header>
  <div class="found-clans">
    <ng-container *ngFor="let clan of vm.clans.clans">
      <app-clan-detail [clanConfig]="clan" [showAdd]="clanIsActive(clan, vm.activeClans)" class="clan">
      </app-clan-detail>
    </ng-container>

  </div>
  <ng-container *ngFor="let clanGroup of vm.clans.subGroups">
    <div class="clan-groups">
      <h2>{{clanGroup.title}}</h2>
      <div class="found-clans">
        <ng-container *ngFor="let clan of clanGroup.clans">
          <app-clan-detail [clanConfig]="clan" [showAdd]="clanIsActive(clan, vm.activeClans)" class="clan">
          </app-clan-detail>
        </ng-container>
      </div>
      <hr>
    </div>
  </ng-container>

</ng-container>
