
@use '@angular/material' as mat;

@import './variables.dark.scss';
@import './variables.light.scss';

@include mat.core();
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    )
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette
    ),
    density: (
      scale: -3
    )
  )
);

html {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
}

@include set-dark-variables($dark-theme);

.content-wrapper {
  background: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}
