<div class="clans-details__wrapper">
  <div class="clans-details__main">
    <div class="clans-details__charts">
      <app-clans-activity-card></app-clans-activity-card>
    </div>
    <div class="clans-details__info">
      <ng-container *ngFor="let clan of clans$ | async">
        <app-clans-details [clanConfig]="clan" class="clan"></app-clans-details>
      </ng-container>
    </div>
  </div>
  <div class="clans-details__info-cards">
    <app-clans-highest-season-pass-level-card
      class="clans-details__info-card"
    ></app-clans-highest-season-pass-level-card>
    <!-- <app-clans-highest-light-level-card class="clans-details__info-card"></app-clans-highest-light-level-card> -->
    <app-clans-recently-active-card class="clans-details__info-card"></app-clans-recently-active-card>
    <app-clans-inactive-card class="clans-details__info-card"></app-clans-inactive-card>
  </div>
</div>
